@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-through-custom {
    text-decoration: line-through;
    text-decoration-color: #FF0000;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  .marquee-container {
    display: flex;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
  }
}

@layer components {
  .headline-large {
    font-size: 45px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.25px;
    margin-top: 118px;
  }

  .headline-medium {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }

  .text-primary-large {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .text-primary-medium {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 16px 96px;
  }

  .text-primary-small {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .text-secondary-large {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 16px 102px;
  }

  .text-secondary-small {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .text-info {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .button-gradient {
    @apply bg-gradient-to-r from-custom-green to-custom-blue transition-colors;
  }

  .button-gradient:hover {
    @apply from-custom-hover-green to-custom-hover-blue;
  }
}
